<div class="container-fluid h-100">
  <div class="row ">
    <div class="col-12">
      <div class="container cont-home">
        <div class="row">
          <div class="col-12 cont-header">
            <div class="row h-100">
              <div class="col-4 cont-logo">
                <h1 class="title">Hola <span class="name-user"> {{nameUser.split(' ')[0] | titlecase}} </span> Bienvienido a <img class="img" src="/assets/imgs/logo-white.svg" alt="prestaYa"> </h1>
              </div>
              <div class="col-4">
                <app-loan></app-loan>
              </div>
              <div class="col-4 cont-user">
                <div class="row h-100">
                  <div class="col-9 new-credit">
                    <button class="btn-credit" *ngIf="showLoan" (click)="showFormLoan()">Solicitar Credito</button>
                    <button class="btn-credit" *ngIf="!showLoan" (click)="showFormLoan()">Ver Prestamos</button>
                  </div>
                  <div class="col-3 options-user" (click)="logout()">
                    Salir <span class="material-icons">exit_to_app</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-100" [class.d-none]="!showLoan">
          <div class="col-12 cont-body">
            <div class="row cont-pending">
              <h2 class="sub-title bg-info">Aprobados</h2>
              <div class="cont-cards">
                <div class="cards">
                  <app-card *ngFor="let item of loansPending" [type]="'pending'" [data]="item" (payCredit)="payCredit($event)"></app-card>
                </div>
              </div>
            </div>
            <div class="row cont-ok">
              <h2 class="sub-title bg-success">Pagados</h2>
              <div class="cont-cards">
                <div class="cards" *ngFor="let item of loansOk">
                  <app-card *ngFor="let item of loansOk" [type]="'ok'" [data]="item"></app-card>
                </div>
              </div>
            </div>
            <div class="row cont-fail">
              <h2 class="sub-title bg-danger">Rechazados</h2>
              <div class="cont-cards">
                <div class="cards">
                  <app-card *ngFor="let item of loansFail" [type]="'fail'" [data]="item"></app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center cont-form-loan" [class.d-none]="showLoan">
          <div class="col-5">
            <form class="form" [formGroup]="formLoan" (ngSubmit)="applyLoan()" action="javascript:void(0);" autocomplete="nope" name="login">
              <h2 class="sub-title">Cuentanos cuanto necesitas</h2>
              <div class="cont-input">
                <input class="input-text" formControlName="valueLoan" name="loan" type="number" placeholder="200.000" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');">
                <span class="material-icons">monetization_on</span>
                <small class="text-danger" *ngIf="formLoan.controls.valueLoan.touched && formLoan.controls.valueLoan.invalid">Recuerda que lo minimo es $10,000 y lo maximo {{valueLoanBase | currency:'$ ':'symbol':'3.0' }}</small>
              </div>
              <h2 class="sub-title mt-5">Cuando puedes pagar</h2>
              <div class="cont-input">
                <input class="input-text" formControlName="datePay" name="date" type="date" min="{{todate | date:'yyyy-MM-dd'}}">
                <span class="material-icons">lock</span>
              </div>
              <div class="row mt-5">
                <div class="col-12">
                  <button class="btn-login" type="submit" [disabled]="btnDisabled">Solicitar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
