@import "~src/styles";
.container-fluid {
  background-image: url('/assets/imgs/fondo1.jpg');
  background-size: cover;
  background-color: $color-black;
}

.cont-home {
  height: 80vh;
  margin-top: 10vh;
  background: #e0e0e0b3;
  border-radius: 1rem;
  overflow: hidden;
  .cont-header {
    height: 4rem;
    overflow: hidden;
    background: #16222A;
    background: -webkit-linear-gradient(-33deg, #3A6073, #16222A);
    background: linear-gradient(-33deg, #3A6073, #16222A);
    .cont-logo {
      height: 100%;
      .title {
        @include display-y-center;
        height: 100%;
        font-size: 1rem;
        color: $color-white;
        font-weight: 200;
        margin: 0;
        .img {
          height: 2rem;
          margin-left: 1rem;
          margin-top: -0.6rem;
        }
        .name-user {
          font-weight: 500;
          margin: 0 0.5rem;
        }
      }
    }
    .cont-user {
      height: 100%;
      .new-credit {
        height: 100%;
        @include display-center;
        .btn-credit {
          border-radius: 3rem;
          border: none;
          width: 90%;
          height: 55%;
          background: $color-blue-dark;
          color: $color-white;
          &:hover {
            background: $color-blue-light;
          }
        }
      }
      .options-user {
        height: 100%;
        color: $color-white;
        cursor: pointer;
        @include display-y-center;
        justify-content: flex-end;
        .material-icons {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .cont-body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    .cont-pending,
    .cont-ok,
    .cont-fail {
      height: 31%;
      width: 100%;
      position: relative;
      overflow-y: hidden;
      padding: 0;
      margin: 0;
      border-bottom: 0.01rem solid $color-blue-dark;
      .sub-title {
        height: 3rem;
        width: 29%;
        transform: rotate( -90deg);
        position: absolute;
        top: 6rem;
        left: -9rem;
        text-align: center;
        font-size: 1.2rem;
        color: $color-white;
        font-weight: 400;
        opacity: 0.7;
        @include display-center;
      }
    }
  }
}
