<div class="container-fluid bg-warning h-100">
  <div class="row ">
    <div class="col-12">
      <div class="container cont-home">
        <div class="row">
          <div class="col-12 cont-header">
            <div class="row h-100">
              <div class="col-4 cont-logo">
                <h1 class="title">Hola <span class="name-user"> Andres </span> Bienvienido a PrestaYa <img class="img" src="/assets/imgs/logo-white.svg" alt="Logo"> </h1>
              </div>
              <div class="col-4">
                saldo de 100000000
              </div>
              <div class="col-4 cont-user">
                <div class="row h-100">
                  <div class="col-9 new-credit">
                    <button class="btn-credit">Solicitar Credito</button>
                  </div>
                  <div class="col-3 options-user">
                    Salir <span class="material-icons">exit_to_app</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row h-100">
          <div class="col-12 cont-body">
            <div class="row cont-pending">
              <h2 class="sub-title bg-info">Aprobados</h2>
              <div class="cont-cards">
                <div class="cards">
                  <app-card [type]="'pending'"></app-card>
                </div>
              </div>
            </div>
            <div class="row cont-ok">
              <h2 class="sub-title bg-success">Pagados</h2>
              <div class="cont-cards">
                <div class="cards">
                  <app-card [type]="'ok'"></app-card>
                </div>
              </div>
            </div>
            <div class="row cont-fail">
              <h2 class="sub-title bg-danger">Rechazados</h2>
              <div class="cont-cards">
                <div class="cards">
                  <app-card [type]="'fail'"></app-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
