@import "~src/styles";
.cont-login {
  height: 100%;
  .cont-form {
    @include display-center;
    .form {
      width: 60%;
      height: auto;
      max-width: 22rem;
      .sub-title {
        color: $color-blue-light;
        font-weight: 300;
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
      .cont-input {
        width: 100%;
        height: 3.5rem;
        position: relative;
        margin: 1.5rem 0;
        .input-text {
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          position: relative;
          padding-left: 12%;
          transition: all 0.4s;
          font-size: 0.9rem;
          border-bottom: 0.01rem solid $color-gray-light;
          &:focus {
            border-bottom: 0.01rem solid $color-blue-light;
          }
          &:focus~.material-icons {
            color: $color-blue-light;
          }
        }
        .material-icons {
          color: $color-gray-light;
          position: absolute;
          left: 2%;
          top: 26%;
          font-size: 1.5rem;
          transition: all 0.4s;
          &.active {
            color: $color-blue-light;
          }
        }
      }
      .btn-login {
        border-radius: 0.4rem;
        border: none;
        padding: 0.3rem;
        width: 9rem;
        font-size: 0.9rem;
        background: $color-blue-dark;
        color: $color-white;
        transition: all 0.4s;
        &:hover {
          background-color: $color-blue-light;
        }
      }
    }
  }
}

.cont-welcome {
  background: #16222A;
  background: -webkit-linear-gradient(-33deg, #3A6073, #16222A);
  background: linear-gradient(-33deg, #3A6073, #16222A);
  height: 100%;
  text-align: center;
  @include display-center;
  .welcome {
    position: relative;
    max-width: 32rem;
    .title {
      color: $color-white;
      text-align: center;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    .logo {
      width: 7rem;
      margin: 2rem 0;
    }
    .text-description {
      color: $color-white;
      margin-top: 2rem;
      font-size: 0.9rem;
      padding: 0 5rem;
      text-align: center;
      font-weight: 300;
    }
    .text-by {
      color: $color-white;
      margin-top: 2rem;
      font-size: 0.9rem;
      padding: 0 5rem;
      text-align: center;
      font-weight: 300;
      position: absolute;
      bottom: -17rem;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }
}
