/* You can add global styles to this file, and also import other style files */

@import "./scss/index";
html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-title;
  overflow: hidden;
   ::-webkit-scrollbar-thumb {
    background-color: $color-blue-dark;
    border-radius: 2rem;
  }
   ::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.4rem;
    background: #52303000;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.swal2-height-auto,
.swal2-shown {
  height: 100% !important;
}
