//Fonts
$font-title: 'Montserrat';
//Color
$color-black: #333333;
$color-white: #ffffff;
$color-gray-light: #bdbdbd;
$color-blue-light: #4d9bbf;
$color-blue-dark: #37728e;
//border global
$border-radius: 0.4rem;
